@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);








#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .navbar-brand {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-0 .nav-link {
  font-size: 18px;
}
#ext_menu-0 .navbar-nav .btn {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-0 .navbar-brand STRONG {
  font-size: 30px;
}
#ext_menu-0 .nav-link STRONG {
  font-family: 'Lato', sans-serif;
}
#header2-1 H1 {
  font-family: 'Lato', sans-serif;
}
#header2-1 P {
  font-family: 'Lato', sans-serif;
}
#header2-1 B {
  color: #04c2fa;
  font-size: 60px;
}
#header2-1 FONT {
  color: #fc0e07;
  font-size: 60px;
}
#header2-1 .btn {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#content5-e .mbr-section-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#content5-e .mbr-section-title B {
  color: #8f8f8f;
}
#features1-7 H4 {
  font-family: 'Lato', sans-serif;
  color: #00af00;
  font-size: 25px;
}
#features1-7 P {
  color: #0275d8;
}
#contacts1-9 B {
  font-size: 25px;
  color: #04c2fa;
}
#contacts1-9 STRONG {
  font-size: 25px;
  color: #06c0f7;
}
#contacts1-9 UL {
  color: #f1c050;
}
#footer1-5 P {
  color: #f2f2f2;
}
#contacts3-6 STRONG {
  color: #ffffff;
  font-size: 20px;
}
#contacts3-6 P {
  color: #f2f2f2;
}




#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .navbar-brand {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-3 .nav-link {
  font-size: 18px;
}
#ext_menu-3 .navbar-nav .btn {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-3 .navbar-brand STRONG {
  font-size: 30px;
}
#ext_menu-3 .nav-link STRONG {
  font-family: 'Lato', sans-serif;
}
#form1-4 .mbr-section-title {
  font-family: 'Lato', sans-serif;
}
#form1-4 .mbr-section-title B {
  color: #8f99af;
}
#footer1-5 P {
  color: #f2f2f2;
}
#contacts3-6 STRONG {
  color: #ffffff;
  font-size: 20px;
}
#contacts3-6 P {
  color: #f2f2f2;
}





#msg-box2-k H2 {
  color: #fa706c;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
#msg-box2-k B {
  color: #0098c6;
}
#pricing-table1-j DIV {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#ext_menu-f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-f .navbar-brand {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-f .nav-link {
  font-size: 18px;
}
#ext_menu-f .navbar-nav .btn {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
#ext_menu-f .navbar-brand STRONG {
  font-size: 30px;
}
#ext_menu-f .nav-link STRONG {
  font-family: 'Lato', sans-serif;
}
#contacts1-g B {
  font-size: 25px;
  color: #04c2fa;
}
#contacts1-g STRONG {
  font-size: 25px;
  color: #06c0f7;
}
#contacts1-g UL {
  color: #f1c050;
}
#footer1-h P {
  color: #f2f2f2;
}
#contacts3-i STRONG {
  color: #ffffff;
  font-size: 20px;
}
#contacts3-i P {
  color: #f2f2f2;
}
